<br>
<div class= "container ">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-6 mx-auto"><!-- vo (mx_auto) sy center my agya ha (col-md-6) sy length kam hogi ha -->
      <h2>Log in</h2>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control",  palceholder:"Email", autofocus: true, autocomplete: "email"  %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control",  palceholder:"Password", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group form-inline">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in", class:"btn btn-secondary"%>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
    </div>
  </div>
</div>  

