<%= link_to "Create New Book" , new_book_path %>
<% @book.each do |b|%>
<li style="color:green">
<tr>	
	<td ><%= b.name %></td>
	<td><%= b.writer_name %></td>
	<td><%= b.price %></td>
	<li><%= link_to "Show", book_path(b.id)%></li>
	<li><%= link_to "edit", edit_book_path(b.id)%></li>
	<li><%= link_to "destroy", book_path(b.id), data: {:confirm => "Arue you sure?"}, :method => :delete %></li>
<tr>
</li>
<hr/>
<% end%>