
<%= form_for book do |book| %>
	<div class="container"> <!-- for center alin give container -->
		<div class="
		group flex-nowrap mb-3">
	  	<span class="input-group-text forn-control" id="addon-wrapping">Book_Name</span>
	  	<%= book.text_field :name, class: 'form-control' %>
		</div>

		<div class="input-group flex-nowrap mb-3" w>
	  	<span class="input-group-text forn-control" id="addon-wrapping">price</span>
	  	<%= book.number_field :price, class: 'form-control' %>
		</div>


		<div class="input-group flex-nowrap mb-3">
	  	<span class="input-group-text forn-control" id="addon-wrapping">writer_Name</span>
	  	<%= book.text_area :writer_name,  class: 'form-control' %>
		</div>
		
		<div class="text-right d-flex justify-content-end">
			<%= book.submit class: "btn btn-primary" %>
		</div>
	</div>

<% end %>