<form>
<style>
table, th, td {
  border: 1px solid black;}
</style>
<h1 style="color:brown; text-align: center;"> Book record </h1>
<table class="table table-striped  table-hover ">
	<tr  class="bg-success" >
		<th> id</th>
		<th> name</th>
		<th> author_name </th>
		<th> price </th>
	</tr>
	<tr>
		<td><%= @book.id %></td>
		<td><%= @book.name %></td>
		<td><%= @book.author.name %></td>
		<td><%= @book.price %></td>
	</tr>

</table>	
</form>
<%= link_to 'Back', :back ,class: "btn btn-primary"%>